* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	background: #111;
}

li {
	padding: 2px 4px;
}

a, a:visited {
	text-decoration: none;
	color: #ccc;
	font-size: 1.3em;
	font-family: Cantarell;
}

li:target a {
	color: #fff;
}
